.left-login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50vw;
  #logo1 {
    width: 70%;
    img {
      height: 70px;
      visibility: hidden;
    }
  }
  .welcome {
    padding-top: 150px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    .title {
      width: 100%;
      display: flex;
      margin: 0 auto;
      color: #e0e0e0;
      font-size: 4em;
    }
    .paragraph {
      font-size: 1em;
      color: #e0e0e0;
    }
  }
  .form {
    width: 370px;
    margin: 10vh auto;
    h2 {
      padding-bottom: 2vh;
      font-size: 2em;
      color: #e0e0e0;
    }
    #userInput {
      background: url(../../assets/user.png) no-repeat right 20px center;
    }
    #pwInput {
      background: url(../../assets/locked.png) no-repeat right 20px center;
    }
  }
}

@media (max-width: 768px) {
  .left-login {
    height: 100%;
    display: flex !important;
    flex-flow: column nowrap !important;
    justify-content: flex-start !important;

    #logo1 {
      margin-top: 25px;
      img {
        visibility: visible !important;
      }
    }
    .button-container {
      padding-top: 50px;
    }

    width: 100vw !important;
    .welcome {
      padding-top: 40px !important;
      width: 70% !important;
    }
    .form {
      margin: 8vh auto !important;
      width: 70% !important;
    }
  }
}

@media (max-height: 700px) {
  img {
    width: 200px !important;
    height: 60px !important;
  }
}

//media ihpone se / galaxy fold
@media (max-height: 760px) {
  .login {
    max-height: 700px;
    .left-login {
      .button-container {
        padding-top: 20px !important;
      }
      .welcome {
        .title {
          font-size: 3em !important;
        }
        .paragraph {
          font-size: 0.8em !important;
        }
      }
    }
    img {
      width: 200px !important;
      height: 60px !important;
    }
  }
}
