.button-container {
  display: flex;
  justify-content: center;
  .button {
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    border: 2px solid #C13216;
    border-radius: 50px;
    width: 100%;
    height: 4.5em;
    transition: 1.5s;
  }
}
.button:hover {
  color: #ff2d04;
  background: rgb(243, 243, 243);
  transition: 1.5s;
}

@media (max-width: 768px) {

}
