

.container{ 
  width: 100%;
  display: flex;
  justify-content: center;
  .containerInput{
    width: 100%;
  input {
    cursor: pointer;
    color: #E0E0E0;
    border: 1px solid #E0E0E0;
    height: 3em;
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    margin-bottom: 20px;
    width: 100%;
  }
  input:focus {
    outline: 0;
  }
  ::placeholder{
    color: #E0E0E0
  }
}
}


