div {
  .nameClassBig {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-align: right;
    color: #c12d18;
  }

  .nameClassSmall {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: right;
    color: #c12d18;
  }
}
