div{
    .bigTitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;
        text-align: right;
        color: #C12D18;
        margin-right: 40px;
    }

    .smallTitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-align: right;
        color: #C12D18;
    }
}